/* * {
    padding: 0;
    margin: 0;
    background-color: rgb(243, 234, 234);
    box-sizing: border-box;
}

body {
    width: 40%;
    margin: 0 auto;
}

#add-thing {
    font-size: 23px;
    margin: 50px;
    padding: 5% 15%;
}

#add-button, #input-thing {
    font-size: 20px;
    padding: 10px;
    margin: 5px;
}

#add-button {
    width: 45px;
    height: 45px;
}

#add-button:hover {
    background-color: azure;
}

#add-button:active {
    background-color: rgb(230, 212, 212);
}

.thing {
    width: 75%;
    background-color: rgb(228, 215, 200);
    padding: 25px;
    margin: 10px;
}

.thing-p {
    display: inline-block;
    width: 200px;
    overflow: scroll;
    background-color: rgb(243, 228, 207);
    font-size: 19px;

    scrollbar-width: none;
}

.thing-p::-webkit-scrollbar {
    display: none;
}

.button-thing {
    width: 50px;
    height: 50px;
    padding: 10px;
    margin: 5px;
    font-size: 18px;
}

.remove-thing {
    font-size: 18px;
    padding: 10px;
    background-color: rgb(226, 224, 103);
}


.remove-thing {
    background-color: rgb(226, 224, 103);
} */

/* ///////////////////////////////////////////// */

* {
    padding: 0;
    margin: 0;
    background-color: rgb(243, 224, 224);
    box-sizing: border-box;
}

body {
    width: 50%;
    margin: 0 auto;
}

#title {
    margin-bottom: 35px;
    padding: 10px;
    font-size: 33px;
    color: rgb(8, 12, 29);
}

#add-thing {
    width: 75%;
    font-size: 23px;
    padding: 5% 15%;
    margin: 0 auto;
    display: flex;
}

#input-thing, #add-button {
    font-size: 20px;
    margin: 5px;
}

#input-thing {
    padding: 10px;
}

#add-button {
    font-weight: bold;
    padding: 10px 15px;
}

.thing {
    width: 80%;
    background-color: rgb(228, 215, 200);
    padding: 5%;
    margin: 20px auto;
    display: flex;
    align-items: center;
} 

.thing-para, .button-thing, .remove-thing {
    margin: 10px;
    padding: 10px;
    font-size: 20px;
}

.thing-para {
    width: 25%;
    background: rgb(243, 228, 207);
}

.button-thing {
    width: 50px;
    height: 50px;
}

.remove-thing {
    position: relative;
    left: 15%;
    background-color: rgb(226, 224, 103);
}

span {
    margin: 5px;
    padding: 5px;
    background-color: rgb(241, 236, 229);
    font-size: 20px;
}

#add-button:hover, .button-thing:hover {
    background-color: azure;
}

#add-button:active, .button-thing:active {
    background-color: rgb(230, 212, 212);
}

.remove-thing:hover {
    box-shadow: 0 0 5px rgb(175, 51, 51);
}

.remove-thing:active {
    background: rgb(212, 93, 57);
}